- content_for :head do
  %title GeckoCircle.com - lipService

%h1 lipService 1.4

%p 
  Way back in 2005, I wrote a simple little Mac OS X Service called lipServiceX that generated Lorem Ipsum placeholder text for use in page layout and web design.  It’s hung on pretty well, with minimal updating from me over the years.  I’ve been giving it away for free over at 
  = link_to "iWorkCommunity.com", "http://www.iworkcommunity.com/"
  ever since I set that site up.

%p Well, it was time to make sure that it could still run on Mac OS X 10.7 (Lion), and in the meantime, I’ve decided to open-source it.  So, today I’m releasing a new version, with a slightly simpler name (I’ve dropped the X), that should run on Mac OS X 10.6 or 10.7.  It’s over at GitHub right now.

%p 
  Source Code: #{ link_to("http://github.com/geckocircle/lipService", "http://github.com/geckocircle/lipService") }
  %br
  Installer: #{ link_to("lipService.pkg", "https://github.com/downloads/geckocircle/lipService/lipService.pkg") }