- content_for :head do
  %title GeckoCircle.com Support

%h1 Support for Our Projects

%p Well, this will be a short page.  At this point, I can't commit to providing any particular support for GeckoCircle.com projects.  You can certainly file issues (or better yet, patches and pull requests) on Github for any of our projects.  You can find our GitHub projects at:

%p 
  = link_to "http://github.com/geckocircle", "http://github.com/geckocircle"

%p You may, of course, email me - but I have a day job, so I can't promise to answer every email.

%p 
  = link_to "Dave Rosborough", "mailto:dave@rosboroughtech.com?subject=[GeckoCircle] Support"