- content_for :head do
  %title GeckoCircle.com - Contagion

%h1 Contagion

%p Contagion is a browser-based simulation of infectious disease spread.  I wrote it after being inspired by the #{ link_to "Scalable Game Design project", "http://scalablegamedesign.cs.colorado.edu/wiki/Contagion_Design" }, which just so happens to feature a similar simulation.  Given that I (in my day job) teach high school biology, I thought that I'd better write my own simulation that I could use both for demonstration and for "virtual-lab" purposes.  As such, I decided to focus on opening up as many adjustable parameters as I could.

%p 
  You can check out a demo of Contagion by visiting
  = link_to "contagion.rosborough.ca", "http://contagion.rosborough.ca"
  
%p
  Source code is available at
  = link_to("GitHub", "http://github.com/geckocircle/contagion")+ "."  
  Feel free to use it in any way (in accordance with the GPL3 licence, that is), and feel free to fork it and develop it further - just remember to send me a pull request when you're ready!


